<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item routerDirection="root" routerLink="{{chapter.url}}">
      {{chapter.title}}
    </ion-item>
  </ion-list>
  <ion-button color="secondary" routerDirection="root" routerLink="/home">Back to the Cover</ion-button>
  <ion-button color="primary" routerDirection="root" routerLink="/chapter1">To Chapter 1</ion-button>
</ion-content>
