<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://picsum.photos/id/14" alt="" />
      <ion-card-header>
        <ion-card-title>The Book about Books - Elements of a Story</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Whether it's a short story, novel, or play, every type of story has the same basic elements. This book explores the five elements of plot.</p>
      </ion-card-content>
    </ion-card>
    <ion-button color="primary" routerDirection="root" routerLink="/toc">Table of Contents</ion-button>
</ion-content>
